:root {
  --bg-main-color: white;
  --second-color: #81B8EF;
  --third-color: #F5D605;
  --font-color: #050505;
  --color-bg-h2:  #c9ac72;
  --color-bg-h4: #fff69b;
  --color-h4:  #F5D605;
  --color-main: #ffffff;
  --color-container: #c0dec2;
  --color-footer:  #81B8EF;
  --color-nv: #81b8ef;
  --Color-fuente: #050505;
}

* {
  margin: 0;
  padding: 0;
}

.img-port {
  height: 80vh;
  width: auto;
}

.trailer-btn {
  text-decoration: none;
  color: var(--color-main);
  width: 100%;
  background-color: var(--second-color);
  padding: 10px 0px;
}

.trailer-btn:hover {
  color: var(--third-color);
}