:root {
  --bg-main-color: white;
  --second-color: #81B8EF;
  --third-color: #F5D605;
  --font-color: #050505;
  --color-bg-h2:  #c9ac72;
  --color-bg-h4: #fff69b;
  --color-h4:  #F5D605;
  --color-main: #ffffff;
  --color-container: #c0dec2;
  --color-footer:  #81B8EF;
  --color-nv: #81b8ef;
  --Color-fuente: #050505;
}

* {
  margin: 0;
  padding: 0;
}

.navbar-color {
  background-color: #81B8EF;
}

.hero {
  width: 100%;
  height: 60vh;
  position: relative;
}

.hero img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.hero #description {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 20px;
  bottom: 5px;
  width: 80%;
}

.hero #title {
  color: var(--font-color);
  text-shadow: 0 0 5px white;
}

.hero #p-description {
  color: var(--font-color);
  text-shadow: 0 0 5px white;
}

.button {
  text-decoration: none;
  color: white;
  padding: 8px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: var(--second-color);
  max-width: 115px;
}

.button:hover {
  border: 1px solid var(--third-color);
  color: var(--third-color);
}

.container {
  border-bottom: 5px solid var(--second-color);
}

.container h2 {
  border-bottom: 3px solid var(--third-color);
}

.container article {
  margin-bottom: 10px;
}

.carousel-container {
  display: flex;
  align-items: center;
}

.carousel-container i {
  background-color: var(--second-color);
  color: white;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
}

.carousel-container i:hover {
  color: var(--third-color);
}

.carousel-custom {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
}

.img-element {
  flex: 1 0 auto;
  margin: 0 5px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .hero {
    width: 99vw;
    height: 50vh;
  }
  .hero img {
    width: 99vw;
    height: 50vh;
    object-fit: cover;
  }
  .hero #description {
    left: 40px;
    bottom: 20px;
    width: 30%;
  }
  .hero #p-description {
    font-weight: bold;
  }

.brand img{
  width: 50px;
  height: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 10px 5px 15px 5px; */
  height: auto;
  width: 100vw;
  background-color: var(--color-main);
}

footer  {
  background-color: var(--color-footer);
  margin: 20px 0px 0px;
}
  
.img-footer {
  height: 50px;
  border-radius: 25px;
  margin: 0px 30px;
  box-shadow: black 3px 5px 10px 0px;    
}

/* hg {
  background-color: var(--Color-fuente);
} */
  
#img-footer {
  height: 75px;   
}
}